#################################################
#审计策略：更改数据，请勿更改格式
#1、时间策略
#1)日期：XX-XX~XX-XX
#2)时间：xx:xx:xx~xx:xx:xx
#3)星期：英文全称，首字母大写(不审计该星期)
#2、地址策略
#xxx.xxx.xxx.xxx ~ xxx.xxx.xxx.xxx
#若无策略，请勿更改本文件
################################################
start
01-01~13-31
00:00:00~23:59:00
Sunday
0.0.0.0~255.255.255.255
